<header class="text-gray-600 dark:text-gray-400 bg-black body-font top-0 sticky z-50">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a href="/" class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
      
      <span class="ml-3 text-xl">STARGROUP</span>
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center ">
      <a href='/shop' class="mr-5 hover:text-black hover:bg-yellow-500 px-1 rounded-sm">Shop</a>
      <a href='/cctv' class="mr-5 hover:text-black hover:bg-yellow-500 px-1 rounded-sm">CCTV</a>
      <a href='/gallery' class="mr-5 hover:text-black hover:bg-yellow-500 px-1 rounded-sm">Gallery</a>
      <a href='/about' class="mr-5 hover:text-black hover:bg-yellow-500 px-1 rounded-sm">About Us</a>
      <a href='/profile' class="mr-5 hover:text-black hover:bg-yellow-500 px-1 rounded-sm">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fff" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <circle cx="12" cy="7" r="4" />
      <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
</svg></a>

    </nav>

    
  </div>
</header>
